@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:300,300i,400,400i,700,700i');
@import url('materialize.min.css');
@import url('uikit.min.css');
@import url('components/tooltip.min.css');
@import url('components/sticky.min.css');
@import url('components/progress.min.css');
@import url('components/slideshow.min.css');
@import url('components/slidenav.min.css');
@import url('components/dotnav.min.css');

body {
	font: 14px/1.5 'Source Sans Pro', sans-serif;
	background-color: #f5f5f5;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

footer {
	padding: 1em 0;
	min-height: 50px;
	line-height: 24px;
}
footer .uk-subnav>*>* {
	color: #fff;
}
::-webkit-selection {
	background-color: rgb(63, 81, 181);
	color: #fff;
}
::-moz-selection {
	background-color: rgb(63, 81, 181);
	color: #fff;
}
::selection {
	background-color: rgb(63, 81, 181);
	color: #fff;
}

/*MTRLZ*/
.navbar-fixed {
	height: 50px;
}
nav {
	height: 50px;
	line-height: 50px;
}
nav .nav-wrapper i,
nav .nav-wrapper .chip {
	height: 30px;
	line-height: 30px;
}
nav .nav-wrapper .btn-floating {
	height: 30px;
	line-height: 30px;
	width: 30px;
}
.dropdown-content,
.side-nav {
	padding-left: 0;
}
.side-nav li {
	border-bottom: 1px solid #eee;
}
.side-nav a {
	text-decoration: none !important;
	font-size: 1rem;
	font-weight: 700;
}
.card-panel .tabs {
	padding-left: 0;
	margin-bottom: 1em;
}
.btn, .chip {
	text-decoration: none !important;
}
.btn:hover {
	color: teal
}
.card .card-action.card-toolbar {
	border-top: none;
	border-bottom: 1px solid rgba(160, 160, 160, 0.2);
	padding-top: 10px;
	padding-bottom: 10px;
}
.card .card-title, .card-panel .card-title {
	line-height: 36px;
	font-size: 1.2rem;
	font-weight: 500;
	display: inline-block;
}
.card-toolbar-small {
	border-top: none;
	border-bottom: 1px solid rgba(160, 160, 160, 0.2);
	padding: 10px !important;
}
.card-toolbar-small .card-title {
	line-height: normal;
	font-size: 1rem;
	font-weight: 500;
	display: inline-block;
}
#switchdata.dropdown-content li {
	min-height: 1em;
	border-bottom: 1px dotted #eee;
}
#switchdata.dropdown-content li:last-child {
	border-bottom: none;
	margin-bottom: 10px;
}
#switchdata.dropdown-content li>a,
#switchdata.dropdown-content li>span {
	font-size: 1rem;
	display: block;
	line-height: 1rem;
	padding: 5px 1rem;
	margin-left: 1rem;
	margin-right: 0;
	color: inherit !important;
}
/*UIKIT*/
.uk-container {
	max-width: 1600px;
	padding-left: 20px;
	padding-right: 20px;
}
.uk-grid .card-panel {
	margin: 0;
}
.uk-progress, .uk-progress-bar {
	border-radius: 10px;
}
.uk-dotnav>*>* {
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	background: #fff;
}
.uk-dotnav a:hover,
.uk-dotnav .uk-active a {
	background: #999;
}
.uk-pagination span {
	cursor: pointer;
	background: #e8eaf6;
}
.uk-pagination>.uk-active>span {
	background: #3f51b5;
	color: #fff;
}
/*SIKD*/
main {
	min-height: calc(100vh - 102px);
}
main.sikd-login {
	height: calc(100vh - 52px);
}
.sikd-logo {
	height: 30px;
	width: auto;
}
.sikd-page-title {
	font-family: 'Montserrat', sans-serif;
	line-height: 50px;
	height: 50px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	font-size: 1.25em !important;
}
.sikd-page-title a {
	display: inline-block;
}
.sikd-page-title a:hover {
	text-decoration: none;
}
.sikd-page-title img {
	vertical-align: middle;
	margin-top: -3px;
}
.sikd-btn-sidedrawer {
	height: 50px;
	line-height: 50px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin-right: 1em;
	padding-left: 9px;
	padding-right: 13px;
	width: 50px;
}
.sikd-btn-sidedrawer:hover {
	text-decoration: none;
}
.sikd-btn-sidedrawer i {
	line-height: 50px !important;
}
.sikd-chip-contact {
	float: left;
	margin: 0 10px 0 -10px;
}
.sikd-account {
	min-width: 80px;
}
#sikd-account-dropdown {
	width: 150px !important;
	padding-top: 10px;
}
#sikd-account-dropdown li {
	background: #3f51b5;
}
#sikd-account-dropdown a,
#sikd-account-dropdown a i {
	font-size: inherit;
	color: #fff;
}
#sikd-account-dropdown a:hover {
	text-decoration: none;
}
.tabs .tab a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	color: #666;
	border-right: 1px solid #fff;
}
.tabs .tab:last-child a {
	border-right: none;
}
.sikd-lagging-a .tabs .tab a {
	background: #e8eaf6;
}
.sikd-lagging-a  .tabs .tab a:hover {
	color: #3f51b5;
}
.sikd-lagging-b .tabs .tab a {
	background: #fff3e0;
}
.sikd-lagging-b  .tabs .tab a:hover {
	color: #ff9800;
}
.sikd-lagging-tab__title {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 0.8em;
	line-height: 1em;
	text-align: left;
	letter-spacing: 0;
	width: 90%;
	height: 90%;
	white-space: wrap !important;
}
.sikd-lagging-tab__persen {
	position: absolute;
	bottom: 5px;
	right: 5px;
	line-height: normal;
	text-align: right;
	font-weight: bold;
}
.sikd-chart--title {
	text-transform: uppercase;
	font-size: 1.2em;
}
.sikd-chart-lagging {
	position: relative;
	z-index: 0;
	height: 260px;
}
.sikd-chart-action {
	position: relative;
	z-index: 1;
	margin-top: -36px;
}
.sikd-chart-action .btn-floating {
	height: 24px;
	width: 24px;
	text-align: center;
}
.sikd-chart-action .btn-floating i {
	line-height: 24px;
}
/*.tab a.active:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 10px 0 10px;
	border-color: rgb(63, 81, 181) transparent transparent transparent;
	top: 100%;
	left: calc(50% - 10px);
}*/
.sikd-lagging-a .tabs .indicator {
	background-color: rgb(63, 81, 181);
	height: 3px;
}
.sikd-lagging-b .tabs .indicator {
	background-color: #ff9800;
	height: 3px;
}
.sikd-lagging-a .tabs a.active {
	/*background: rgb(63, 81, 181) !important;*/
	color: rgb(63, 81, 181) !important;
}

.sikd-lagging-b .tabs a.active {
	/*background: #ff9800 !important;*/
	color: #ff9800 !important;
}
.skid-thematic {
	width: 100%;
	height: 80px;
	position: relative;
	padding: 1em;
	overflow: hidden;
}
.skid-thematic__text {
	position: absolute;
	top: 1em;
	right: 1em;
	text-align: right;
	width: calc(100% - 4.5em);
}
.skid-thematic__text h5 {
	text-transform: uppercase;
	margin: 0 0 .5em;
}
.sikd-map {
	min-height: calc(100vh - 132px);
}
.sikd-map #map {
	min-height: calc(100vh - 249px);
}
.bgmap {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 240px;
}
.bgmap .note {
	position: absolute;
	left: 1em;
	bottom: 1em;
	background: rgba(255, 255, 255, 0.7);
	padding: .5em;
	font-size: .8em;
}
.skid-gauge-wrap {
	width: 100%;
	height: 200px;
	margin: 0;
}
.skid-gauge {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.dataTables_wrapper .bottom-row {
	display: none;
}
.sikd-indigo .sikd-i:hover {
	background: #3f51b5 !important;
}
.sikd-orange .sikd-i:hover {
	background: #ff9800 !important;
}
/**/
.uk-progress {
	position: relative;
}
.sikd-m {
	position: absolute;
	display: block;
	width: 20px;
	height: 100%;
	top: 0;
	border-left: 1px dotted #f00;
	z-index: 1;
	font-size: 12px;
	color: #fff;
}
/*MOBILE*/
@media (max-width: 768px) {
	footer {
		text-align: center;
	}
	footer .uk-navbar-flip {
		clear: both;
		width: 100%;
	}
	footer .uk-navbar-flip .uk-subnav>* {
		flex: 1;
	}
}
