@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i');
@import "fonts/FontAwesome/font-awesome.css";
@import "fonts/MaterialIcons/material-icons.css";
@import "lib/color.css";

html {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #edf1f2;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}
a.fa {
    text-decoration: none;
}

::-moz-selection {
    background: #09355B;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #09355B;
    color: #fff;
    text-shadow: none
}
main {
    min-height: calc(100vh - 80px);
    padding: 15px !important;
    margin-left: 50px !important;
}
footer {
    padding: 15px !important;
    margin-left: 50px !important;
    background: #ffde59;
    color: #09355B;
    line-height: 20px !important;
}
footer .uk-subnav>*>:first-child {
    color: #09355B;
    font-size: 1rem;
}
.sikd-nav-side {
    height: 100vh;
    position: fixed;
    width: 50px;
    background: #09355B;
    z-index: 10;
}
.uk-offcanvas-bar {
    background: #09355B;
    color: #fff;
}
.sikd-nav-side a.sikd-menu-main {
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.sikd-home-row1 {
    height: calc(50vh - 80px);
}
.sikd-home-row2 {
    height: calc(50vh - 80px);
}
.sikd-home-row3 {
    height: 100px;
}
.sikd-l0r1-tab > ul.uk-tab{
    width: 60px;
    height: calc(50vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sikd-l0r1-title {
    padding: 0;
    margin: 0;
    line-height: normal;
}
.sikd-progress .uk-progress {
    background-color: #ffde59;
    margin-bottom: 0;
    height: 25px;
    border-radius: 3px;
}
.sikd-progress .uk-progress::-webkit-progress-bar {
    background-color: #ffde59;
    border-radius: 3px;
}
.sikd-progress .uk-progress::-webkit-progress-value {
    background-color: #09355B;
}
.sikd-progress .uk-progress::-moz-progress-bar {
    background-color: #09355B;
}
.sikd-progress .uk-progress::-ms-fill {
    background-color: #09355B;
}
.sikd-progress .uk-width-expand {
    position: relative;
}
.sikd-progress .uk-width-auto {
    line-height: 25px;
}
.sikd-progress-text {
    position: absolute;
    top: 0;
    left: 25px;
    color: #fff;
    line-height: 25px;
}
.sikd-l0r1-chart {
    width: 100% !important;
    margin: 10px 0;
    height: calc(50vh - 185px);
}
.sikd-l0r2-chart {
    height: calc(50vh - 120px);
}
a.sikd-chart-info {
    margin: 5px;
}
.sikd-blue {
    background-color: #09355B !important;
}
.sikd-blue-text {
    color: #09355B !important;
}
.rem1 {
    font-size: 1rem !important;
}
.uk-card {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.uk-nav-default {
    font-size: 1rem;
}
.uk-offcanvas-bar .uk-nav-default>li>a, .uk-nav-default>li>a {
    color: #fff;
}
.uk-offcanvas-bar .uk-nav-default .uk-nav-divider, .uk-nav-default .uk-nav-divider {
    border-top: 1px solid #fff;
}
a span.uk-icon {
    position: relative;
    top: -2px;
}
@media (max-width: 768px) {
    main {
        min-height: 100vh;
        margin-left: 0 !important;
        padding-top: 65px !important;
    }
    footer {
        padding: 15px !important;
        line-height: normal !important;
        text-align: center;
        margin-left: 0 !important;
    }
    footer .uk-subnav>* {
        padding-left: 5px;
        padding-right: 5px;
    }
    .sikd-l0r1-title {
        line-height: 1rem;
    }
    .sikd-home-row1, .sikd-home-row1 > div, .sikd-home-row2 {
        height: 250px;
    }
    .sikd-home-row3 {
        height: auto;
    }
    .sikd-l0r1-chart {
        height: calc(250px - 130px);
    }
    .sikd-l0r2-chart {
        height: 210px;
    }
    .sikd-l0r1-tab > ul.uk-tab{
        width: auto;
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
        padding-top: 0;
        padding-bottom: 0;
    }
    .sikd-nav-side {
        height: 50px;
        position: fixed;
        width: 100%;
    }
    .sikd-nav-side .uk-nav li {
        display: inline-block;
    }
    .sikd-nav-side .uk-nav li a {
        padding: 0 5px;
    }
    .sikd-nav-side .uk-position-bottom {
        top: 0;
        bottom: 0;
        right: 0;
        left: auto !important;
    }
}