@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i');
@import "fonts/FontAwesome/font-awesome.css";
@import "fonts/MaterialIcons/material-icons.css";
@import "lib/color.css";

html {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #edf1f2;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}
a.fa {
    text-decoration: none;
}

::-moz-selection {
    background: #09355B;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #09355B;
    color: #fff;
    text-shadow: none
}
a span.uk-icon {
    position: relative;
    top: -2px;
}
main {
    min-height: calc(100vh - 80px);
    padding: 15px !important;
    margin-left: 50px !important;
}
footer {
    padding: 15px !important;
    margin-left: 50px !important;
    background: #ffde59;
    color: #09355B;
    line-height: 20px !important;
}
footer .uk-subnav>*>:first-child {
    color: #09355B;
    font-size: 1rem;
}

main.full-width, footer.full-width {
    margin-left: 0 !important;
}
main.sikd-login {
    min-height: calc(100vh - 50px);
    padding: 0 !important;
    margin: 0 !important;
}
main.sikd-login .uk-card-media-left {
    -webkit-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.sikd-login .uk-card {
    margin-top: -25px;
}
.sikd-login-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    margin: 0;
    line-height: normal;
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
}
.sikd-login-logo img {
    height: 25px;
    width: auto;
    margin-bottom: 45px;
}
.sikd-er-mail,
.sikd-er-pwd {
    height: 20px;
    line-height: 20px;
    font-size: .875rem;
    margin-bottom: 5px;
}

.sikd-nav-side {
    height: 100vh;
    position: fixed;
    width: 50px;
    background: #09355B;
    z-index: 10;
}
.uk-offcanvas-bar {
    background: #09355B;
    color: #fff;
}
.sikd-nav-side a.sikd-menu-main {
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.sikd-nav-side .uk-nav-default > li > a,
.uk-offcanvas-bar .uk-nav-default > li > a {
    color: #fff;
}
.sikd-nav-side .uk-nav-default > li > a:focus,
.sikd-nav-side .uk-nav-default > li > a:hover,
.uk-offcanvas-bar .uk-nav-default > li > a:focus,
.uk-offcanvas-bar .uk-nav-default > li > a:hover,
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:hover {
    color: #ffde59 !important;
}
.sikd-nav-side .uk-nav-default > li.uk-active > a,
.uk-offcanvas-bar .uk-nav-default > li.uk-active > a {
    color: #ffde59;
}
.uk-button-small {
    padding: 0 10px;
    font-weight: 700;
}
.uk-nav-default,
.uk-nav-header {
    font-size: 1rem;
}
.uk-nav-header:not(:first-child) {
    margin-top: 10px;
}

.uk-offcanvas-bar .uk-nav-default>li>a,
.sikd-nav-side .uk-nav-default>li>a {
    color: #fff;
}
.uk-offcanvas-bar .uk-nav-default .uk-nav-divider,
.sikd-nav-side .uk-nav-default .uk-nav-divider {
    border-top: 1px solid #fff;
}
.uk-offcanvas-bar ul.uk-nav-sub {
    padding: 5px 0 5px 33px;
}

.sikd-cover-title {
    margin: -20px -20px 20px -20px;
}
.sikd-home-row1 {
    height: calc(50vh - 80px);
}
.sikd-home-row2 {
    height: calc(50vh - 80px);
}
.sikd-home-row3 {
    height: 100px;
}
.sikd-l0r1-tab > ul.uk-tab{
    width: 60px;
    height: calc(50vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sikd-l0r1-tab > ul.uk-tab li:first-child {
    margin-top: 10px;
}
.sikd-l0r1-tab > ul.uk-tab > * > a {
    padding: inherit;
    padding-left: 10px;
    height: 24px;
}
.sikd-l0r1-title {
    padding: 0;
    margin: 0;
    line-height: normal;
}

.uk-progress {
    background-color: #ffde59;
    margin: 0;
    height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.uk-progress .progress-bar {
    background-color: #09355B;
    height: 25px;
}
.uk-progress .progress-text {
    color: #fff;
    padding-left: 10px;
    line-height: 25px;
}
.uk-progress .progress-mean {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    border-left: 2px dotted #F44336;
}
.sikd-progress-persen {
    line-height: 25px;
    padding: 0 10px 0 0;
    font-weight: 700;
    color: #09355B;
}


.sikd-l0r1-chart {
    width: 100% !important;
    margin: 10px 0;
    height: calc(50vh - 185px);
}
.sikd-l0r2-chart {
    height: calc(50vh - 120px);
}
a.sikd-chart-info {
    margin: 5px;
}
.sikd-blue {
    background-color: #09355B !important;
}
.sikd-blue-text {
    color: #09355B !important;
}
.sikd-text5 {
    display: inline-block;
    line-height: normal;
    text-transform: uppercase;
}
.sikd-text5:hover {
    text-decoration: none;
    opacity: 0.8;
}
.sikd-icon5 {
    height: 40px;
    width: 40px;
    background: #ffde59;
    font-family: 'FontAwesome';
    overflow: hidden;
    font-size: 1.25rem;
    color: #fff;
    text-shadow:    rgb(179, 155, 62) 0px 0px 0px,
                    rgb(182, 159, 64) 1px 1px 0px,
                    rgb(186, 162, 65) 2px 2px 0px,
                    rgb(190, 165, 66) 3px 3px 0px,
                    rgb(194, 169, 68) 4px 4px 0px,
                    rgb(198, 172, 69) 5px 5px 0px,
                    rgb(201, 175, 70) 6px 6px 0px,
                    rgb(205, 179, 72) 7px 7px 0px,
                    rgb(209, 182, 73) 8px 8px 0px,
                    rgb(213, 185, 74) 9px 9px 0px,
                    rgb(217, 189, 76) 10px 10px 0px,
                    rgb(221, 192, 77) 11px 11px 0px,
                    rgb(224, 195, 78) 12px 12px 0px,
                    rgb(228, 199, 80) 13px 13px 0px,
                    rgb(232, 202, 81) 14px 14px 0px,
                    rgb(236, 205, 82) 15px 15px 0px,
                    rgb(240, 209, 84) 16px 16px 0px,
                    rgb(244, 212, 85) 17px 17px 0px,
                    rgb(247, 215, 86) 18px 18px 0px,
                    rgb(251, 219, 88) 19px 19px 0px;
}
.sikd-icon5:hover {
    text-decoration: none;
    background: #ffde59;
    color: #09355B;
}
.sikd-icon-Realisasi-TKDD:before {
    content: "\f0ec";
}
.sikd-icon-DAK-Fisik:before {
    content: "\f187";
}
.sikd-icon-Dandes:before {
    content: "\f0f2";
}
.sikd-icon-Belanja:before {
    content: "\f290";
}
.sikd-icon-PAD:before {
    content: "\f0b1";
}
.sikd-icon {
    height: 24px;
    width: 40px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-color: rgba(230, 230, 230, 1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #09355B;
    text-shadow:    rgba(200, 200, 200, 1) 0px 0px 0px,
                    rgba(200, 200, 200, 0.95) 1px 1px 0px,
                    rgba(200, 200, 200, 0.90) 2px 2px 0px,
                    rgba(200, 200, 200, 0.85) 3px 3px 0px,
                    rgba(200, 200, 200, 0.80) 4px 4px 0px,
                    rgba(200, 200, 200, 0.75) 5px 5px 0px,
                    rgba(200, 200, 200, 0.70) 6px 6px 0px,
                    rgba(200, 200, 200, 0.65) 7px 7px 0px,
                    rgba(200, 200, 200, 0.60) 8px 8px 0px,
                    rgba(200, 200, 200, 0.55) 9px 9px 0px,
                    rgba(200, 200, 200, 0.50) 10px 10px 0px,
                    rgba(200, 200, 200, 0.45) 11px 11px 0px,
                    rgba(200, 200, 200, 0.40) 12px 12px 0px,
                    rgba(200, 200, 200, 0.35) 13px 13px 0px,
                    rgba(200, 200, 200, 0.30) 14px 14px 0px,
                    rgba(200, 200, 200, 0.25) 15px 15px 0px,
                    rgba(200, 200, 200, 0.20) 16px 16px 0px,
                    rgba(200, 200, 200, 0.15) 17px 17px 0px,
                    rgba(200, 200, 200, 0.10) 18px 18px 0px,
                    rgba(200, 200, 200, 0.05) 19px 19px 0px;
}
.uk-active .sikd-icon {
    background-color: #09355B;
    color: #fff;
    text-shadow: none;
}
.sikd-icon:before {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 24px;
}
.sikd-icon-transfer:before {
    content: 'TKDD';
}
.sikd-icon-dbh:before {
    content: 'DBH';
}
.sikd-icon-dau:before {
    content: 'DAU';
}
.sikd-icon-dak-fisik:before {
    content: 'DAKF';
}
.sikd-icon-dak-non-fisik:before {
    content: 'DAKNF';
}
.sikd-icon-did:before {
    content: 'DID';
}
.sikd-icon-dandes:before {
    content: 'DD';
}
.sikd-icon-realisasi-pendapatan:before {
    content: 'RP';
}
.sikd-icon-realisasi-belanja:before {
    content: 'RB';
}
.sikd-icon-realisasi-pad:before {
    content: 'RPAD';
}
.sikd-icon-realisasi-belanja-pegawai:before {
    content: 'RBP';
}
.sikd-icon-realisasi-barang-dan-jasa:before {
    content: 'RBJ';
}
.sikd-icon-realisasi-belanja-modal:before {
    content: 'RBM';
}
.sikd-icon-lra:before {
    content: 'LRA';
}

.rem1 {
    font-size: 1rem !important;
}
.rem125 {
    font-size: 1.25rem !important;
}
.uk-card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.l1card .uk-card-body {
    height: calc( 100vh - 180px );
}
.l2card > .uk-card-body,
.l3card > .uk-card-body {
    min-height: calc( 100vh - 180px );
}
.l3panel {
    position: relative;
}
.sikd-map {
    height: 100% !important;
    width: 100% !important;
}
.sikd-title-gauge {
    position: absolute;
    z-index: 1;
    top:0;
    text-align: center;
    padding-top: 1rem;
    width: calc(100% - 15px) !important;
}
.sikd-title-topbottom {
    margin: 0 !important;
    padding: 0 0 10px 10px;
}
.blinking {
    opacity: 0;
    animation: blinking 1s linear infinite;
}
@keyframes blinking {
    from,
    49.9% {
        opacity: 0;
    }
    50%,
    to {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    main {
        min-height: calc( 100vh - 145px );
        margin-left: 0 !important;
        padding-top: 65px !important;
    }
    footer {
        padding: 15px !important;
        line-height: normal !important;
        text-align: center;
        margin-left: 0 !important;
    }
    footer .uk-subnav>* {
        padding-left: 5px;
        padding-right: 5px;
    }
    main.sikd-login {
        padding: 0 !important;
        margin: 0 !important;
        min-height: 100vh;
    }
    main.sikd-login .uk-card {
        width: 80% !important;
        margin-top: 0;
    }
    main.sikd-login .uk-card-media-left {
        height: 200px !important;
        -webkit-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }
    main.sikd-login .uk-card-media-left canvas {
        display: none;
    }
    .sikd-l0r1-title {
        line-height: 1rem;
    }
    .sikd-home-row1, .sikd-home-row1 > div, .sikd-home-row2 {
        height: 250px;
    }
    .sikd-home-row3 {
        height: auto;
    }
    .sikd-l0r1-chart {
        height: calc(250px - 140px);
    }
    .sikd-l0r2-chart {
        height: 210px;
    }
    .sikd-l0r1-tab > ul.uk-tab{
        width: auto;
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
        padding-top: 0;
        padding-bottom: 0;
    }
    .sikd-l0r1-tab > ul.uk-tab li:first-child {
        margin-top: 0;
        margin-left: 5px;
    }
    .sikd-nav-side {
        height: 50px;
        position: fixed;
        width: 100%;
    }
    .sikd-nav-side .uk-nav li {
        display: inline-block;
    }
    .sikd-nav-side .uk-nav li a {
        padding: 0 5px;
    }
    .sikd-nav-side .uk-position-bottom {
        top: 0;
        bottom: 0;
        right: 0;
        left: auto !important;
    }
    .sikd-icon {
        height: 24px;
        width: 24px;
    }
    .sikd-icon:before {
        height: 24px;
        width: 24px;
        position: relative;
    }
    .sikd-l0r1-tab > ul.uk-tab {
        margin-left: 0;
    }
    .sikd-l0r1-tab > .uk-tab::before {
        left: 0;
    }
    .sikd-l0r1-tab > ul.uk-tab > * > a {
        padding: 5px;
        height: 24px;
        width: 24px;
        margin: 0;
    }
    .sikd-l0r1-tab ul.uk-tab li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    .l1card .uk-card-body,
    .l2card .uk-card-body {
        min-height: calc( 100vh - 290px );
    }
    .sikd-gauge {
        height: 200px;
    }
    .rem125 {
        font-size: 1rem !important;
    }
}